{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  

  <div class="container">

 
    <div class="row">
    
      <div class="col-lg-8 col-md-10 mx-auto content login">
        <h1>Cart</h1>

        {% for item in items.cart_items : %}
          
          <ol class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">{{ item.item_name }}</div>
                Ksh: {{item.item_price}}
              </div>
              <div class="text-center cart"><a class="btn btn-outline-dark mt-auto" href="{{ url_for('delete_item', item_id=item.id) }}">Remove</a></div>
            </li>
           
          </ol>
        {% endfor %}
        
      </div>
    </div>
  </div>


{% include "footer.html" %}
{% endblock %}