{% include "header.html" %}


        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="store-name">Daily Deals</h1>
                    <p class="store-subname">Shop In Style</p>
                </div>
            </div>
        </header>


        <!-- top container-->

        <div class="container">
            <h3>{{item.name}}</h3>
        </div>
        <!-- Section-->
        <section class="container py-5 description">
            <div class="row">
                <div class="col-lg-6">
                    <img src="{{ item.image_url }}" class="img-thumbnail w a"alt="...">
                </div>
                <div class="col-lg-6">
                    {{item.description |safe}}
                </div>
            </div>
   
        </section>
        {% include "footer.html" %}

    </body>
</html>