<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

        <!-- Css Styles -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
</head>
<body>
       <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <p><em> We give you the best shopping experience with afordable prices and discounts</em></p>
            <hr>
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="about-text">CONTACT US AT</h3>
                    <ul>
                        <li><i class="fa fa-solid fa-envelope"></i> dailydeals@gmail.com</li>
                        <li><i class="fa fa-solid fa-phone"></i> 0712345678</li>
                        <li><i class="fa fa-brands fa-instagram"></i> Daiy_deals</li>
                        <li><i class="fa fa-brands fa-facebook"></i> Daily_Deals</li>
                        <li><i class="fa fa-brands fa-twitter"></i> @DailyDeals</li>
                    </ul>
                </div>

                <div class="col-lg-6 ">
                    <h3 class="about-text">TOWNS WE OPERATE IN</h3>
                    <ol>
                        <li>Nairobi</li>
                        <li>Mombasa</li>
                        <li>Kisumu</li>
                        <li>Eldoret</li>
                        <li>Bungoma</li>
                        <li>Nakuru</li>
                    </ol>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | daily deals<a href="https://colorlib.com" target="_blank"></a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

        <!-- Js Plugins -->
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.nice-select.min.js"></script>
    <script src="static/js/jquery-ui.min.js"></script>
    <script src="static/js/jquery.slicknav.js"></script>
    <script src="static/js/mixitup.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/main.js"></script>

</body>
</html>