{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}


        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="store-name">Daily Deals</h1>
                    <p class="store-subname">Shop In Style</p>
                </div>
            </div>
        </header>


        <!-- top container-->

        <div class="container">
            
        </div>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    {% for item in items %}
                    <div class="col">
                        <div class="card h-100">
                          <img src="{{ item.img_url }}" class="img-thumbnail w a"alt="...">
                          
                          <div class="card-body">
                            <h5 class="card-title spring-text">{{ item.name }}</h5>
                            <h5 class="card-title spring-text">Ksh {{ item.price }}</h5>

                            {% if current_user.id != 1: %}
                                <div class="text-center cart"><a class="btn btn-outline-dark mt-auto" href="">Add to cart</a></div>
                                <div class="text-center cart"><a class="btn btn-outline-dark mt-auto" href="{{ url_for('description') }}">Description</a></div>
                            {% else: %}
                                <div class="text-center cart"><a class="btn btn-outline-dark mt-auto" href="{{ url_for('edit', item_id=item.id) }}">Edit</a></div>
                                <div class="text-center cart"><a class="btn btn-outline-dark mt-auto" href="{{ url_for('delete', item_id=item.id) }}">Delete</a></div>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        {% include "footer.html" %}

    </body>
</html>

