{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}


        <!-- Header-->



        <!-- top container-->
        
        <div class="smart">
            
            <input type="radio" name="position" />
            <input type="radio" name="position" />
            <input type="radio" name="position" checked />
            <input type="radio" name="position" />
            <input type="radio" name="position" />
            <main id="carousel">

            <div class="item">
                <img src="https://images.pexels.com/photos/9555099/pexels-photo-9555099.jpeg?auto=compress&cs=tinysrgb&w=1600" class="img-thumbnail w a"alt="...">
            </div>
              <div class="item"><img src="https://images.pexels.com/photos/1125130/pexels-photo-1125130.jpeg?auto=compress&cs=tinysrgb&w=1600" class="img-thumbnail w a"alt="..."></div>
              <div class="item"><img src="https://images.pexels.com/photos/1462098/pexels-photo-1462098.jpeg?auto=compress&cs=tinysrgb&w=1600" class="img-thumbnail w a"alt="..."></div>
              <div class="item"><img src="https://images.pexels.com/photos/5709661/pexels-photo-5709661.jpeg?auto=compress&cs=tinysrgb&w=1600" class="img-thumbnail w a"alt="..."></div>
              <div class="item"><img src="https://images.pexels.com/photos/5217897/pexels-photo-5217897.jpeg?auto=compress&cs=tinysrgb&w=1600" class="img-thumbnail w a"alt="..."></div>

            <main>

        </div>
        <!-- Section-->

        
        
        <section class="py-5">
            
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    {% for item in items %}
                    <div class="col">
                        <div class="card h-100">
                          <img src="{{ item.image_url_1}}" class="img-thumbnail w a"alt="...">
                          
                          <div class="card-body">
                            <h6 class="card-title spring-text">{{ item.name }}</h6>
                            <h6 class="card-title spring-text">Ksh {{ item.price }}</h6>

                            {% if current_user.id != 1: %}
                                <div class="text-center cart"><a class="btn btn-outline-dark mt-auto" href="{{ url_for('add_to_cart', item_id=item.id) }}">Add to cart</a></div>
                                <div class="text-center cart"><a class="btn btn-outline-dark mt-auto" href="{{ url_for('description', item_id=item.id) }}">Description</a></div>
                            {% else: %}
                                <div class="text-center cart"><a class="btn btn-outline-dark mt-auto" href="{{ url_for('edit', item_id=item.id) }}">Edit</a></div>
                                <div class="text-center cart"><a class="btn btn-outline-dark mt-auto" href="{{ url_for('delete', item_id=item.id) }}">Delete</a></div>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    {% endfor %}
        

                </div>
            </div>
        </section>


        {% include "footer.html" %}

    </body>
</html>

