{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  
  <!-- <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/edit-bg.jpg')}}')"> -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Fuel Replacement -->
    <div class="card-border ho-border">
      <h4 class="float-left">Fuel replacement</h4>
      <div class="upsell-pricing">£49/trip</div>
      <div class="clearfix"></div>
      <div class="upsell-text">Save time and return the vehicle at any fuel level. The price include upto a full tank of petrol/gas.</div>
      <div class="mt-3 float-right">
        <button type="button" class="btn btn-add-item">Add this extra</button>
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- Portable WiFi Hotspot -->
    <div class="card-border ho-border">
      <h4 class="float-left">Portable WiFi hotspot</h4>
      <div class="upsell-pricing">£10/day</div>
      <div class="clearfix"></div>
      <div class="upsell-text">Get the luxury of portable WiFi hotspot on the go. The price include unlimited data usage for the day.</div>
      <div class="mt-3 float-right">
        <button type="button" class="btn btn-add-item">Add this extra</button>
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- Post-trip Cleaning -->
    <div class="card-border ho-border">
      <h4 class="float-left">Post-trip cleaning</h4>
      <div class="upsell-pricing">£30/trip</div>
      <div class="clearfix"></div>
      <div class="upsell-text">Return the vehicle without bothering about post-trip cleaning. This extra does not cover damages to the vehicle seat, stains, spills, and smoke burns.</div>
      <div class="mt-3 float-right">
        <button type="button" class="btn btn-add-item">Add this extra</button>
      </div>
      <div class="clearfix"></div>
    </div>

{% include "footer.html" %}
{% endblock %}